<html>
<head>
    <title>Фреймы в html</title>
</head>
<!--<script src="http://10.0.0.23:5000/socket.io/socket.io.js"></script>-->
<!--<script>var socket</script>-->
<!--<script>-->
    <!--onload = function(){-->
        <!--socket = io.connect('http://10.0.0.23:5000');-->
        <!--window.abc= socket;-->
    <!--}-->
<!--</script>-->
<frameset rows="450, *" >
    <FRAME SRC="candidateTable.ejs" NAME="Frame1">
    <FRAME SRC="profile.ejs" NAME="Frame2" id="frame2">
</frameset>
</html>
