<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
</head>
Сегодня вы открыли 1 резюме.<!DOCTYPE html>
<html class="desktop"><!--request: 152715715072471ba1e1f1c3d464780e--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><title>junior android разработчик</title><meta name="description" content="HeadHunter (hh.ru) позволяет найти работу в России. HeadHunter - это качественная база резюме и вакансий и современные сервисы для поиска работы и персонала."><meta name="keywords" content="работа, вакансии, работа, поиск вакансий, резюме, работы, работу, работ, ищу работу, поиск"><meta property="og:image" content="https://hh.ruhttps://hh.ru/photo/517290257.png?t=1527242117&h=0c6-TMX6UR6WvDDVsfcmQw"><link rel="image_src" href="https://hh.ruhttps://hh.ru/photo/517290257.png?t=1527242117&h=0c6-TMX6UR6WvDDVsfcmQw"><meta property="og:image" content="https://i.hh.ru/logos/openGraph/hh.ru.png?v=3"><meta property="og:image:width" content="600"><meta property="og:image:height" content="315"><meta property="og:description" content="HeadHunter (hh.ru) позволяет найти работу в России. HeadHunter - это качественная база резюме и вакансий и современные сервисы для поиска работы и персонала."><script>
        window.bloko = {
            fontUrl: 'https://i.hh.ru/css/other/pages/__fonts_d0895e0ea788324eab883efaff054cc4.css'
        };
        window.globalVars = {
            locale: 'ru_RU',
            country: '1',
            area: '113',
            build: '18.21.3',
            lang: 'RU' || 'RU',
            requestId: '152715715072471ba1e1f1c3d464780e',
            sentryDSN: 'https://021a400d5c554c00a0b92ac575ff4768@sentry.hh.ru/6',
            siteId: '1' || '1',
            staticHost: 'https://i.hh.ru',
            timeStamp: '1527157150',
            userType: 'employer' || 'anonymous',
            cryptedUserId: '',
            employerState: 'APPROVED',
            vishnuIframeSrc: '//cdn.nanosemantics.ru/hh/02b1d687-2a86-4f1e-b364-e5592a482ab1/iframe-nns-cdn.html',
            login: 'krutko@ntt.ru',
            userId: '19324477',
            hhid: '19324477',


            autotestsComponentsInitEnd: false,


            requirejsWaitSeconds: 15,


            performanceObserverEnabled: false,

            features: {"fingerprinting_enable": true, "disable_counters": false, "sentry_logging": true, "secure_portal_enabled": true},
            variables:
                {"mapping":"__mapping","buildFolderName":"/jsbuild","main":"/luxbuild/main.2da19875d80c458444fa.js","vendors":"/luxbuild/vendors.f9561f85b8a3234b1bd4.js","buildCombineFilePath":"/jsbuild/d141c9ce-combined.js","buildLibsFilePath":"/jsbuild/65104bcb-libs.js","buildMappingFilePath":"/jsbuild/af2e44e9-mapping.js"}

        };
    </script><script>
        window.globalVars = window.globalVars || {};
        window.globalVars.livetex = {"src": "//hh.livetex.ru/client.html", "params": {"hhGroups": [7976], "hhPrechat": {"system": {"hh_category": "employer", "hh_client_id": "2748"}, "user": {"firstName": "\u0415\u043b\u0435\u043d\u0430", "lastName": "\u041a\u0440\u0443\u0442\u044c\u043a\u043e", "link": "https://hh.ru/employer/2748", "requestId": "152715715072471ba1e1f1c3d464780e", "midName": "\u0412\u043b\u0430\u0434\u0438\u043c\u0438\u0440\u043e\u0432\u043d\u0430", "email": "krutko@ntt.ru"}}, "liveTexID": 15998}};
    </script><script type="text/html" class="HHC-Banners-Place-Template"><!--
            <div class="HHC-Banners-Place HHC-Banner-%id% banner-place banner-place_%id% " data-banner-id="%id%" data-empty-class="banner-place_hide" data-loaded-class="banner-place_show" data-banner-additional-class=""></div>
        --></script><script>
        "use strict";!function(){var e=[];/(ipad|ipod|iphone)/i.test(navigator.userAgent.toLowerCase())&&e.push("ios"),e.length&&(document.getElementsByTagName("html")[0].className+=" "+e.join(" "))}(),function(){var e={ieMobile:{regex:/iemobile\/(\d+)/,minVersion:11},ie:{regex:/msie (\d+)\./,minVersion:10},edge:{regex:/edge\/(\d+)/,minVersion:12},firefox:{regex:/firefox\/(\d+)\./,minVersion:40},operaMobile:{regex:/opera\/(\d+).+opera mobi/,minVersion:12},ios:{regex:/cpu(?: iphone)? os (\d+)_[\d_]+ like mac os x/i,minVersion:8},android:{regex:/android (\d+\.\d)/,minVersion:4.1},safari:{regex:/macintosh;.+ version\/(\d+)\.[\d.]+ safari/,minVersion:9},chrome:{regex:/chrome\/(\d+)\./,minVersion:44},opera:{regex:/presto\/.+ version\/(\d+)/,minVersion:999},operaMini:{regex:/opera mini\/(\d+)/,minVersion:999}};window.bloko=window.bloko||{},window.bloko.getUserAgentDetails=function(o){var n=o.toLowerCase(),i={isSupported:!0,browser:null,version:null};for(var r in e){var t=n.match(e[r].regex);if(t){var a=parseFloat(t[1]);if(!isNaN(a)){i.browser=r,i.version=a,a<e[r].minVersion&&(i.isSupported=!1);break}}}return i}}(),function(){var e=function(){var e=document.getElementsByTagName("head")[0],o=!function(){var e="lstest";try{return localStorage.setItem(e,e),localStorage.removeItem(e),!0}catch(e){return!1}}(),n="BlokoFonts",i="BlokoFontsVersion";function r(o){var n=document.createElement("style");n.textContent=o,e.appendChild(n)}return{loadCSS:function(e){if(!o){var t,a,l,s=!1,d=!1;try{s="1.0"===window.localStorage.getItem(i),d=window.localStorage.getItem(n)}catch(e){return}s&&d?r(d):(t=e,a=function(e){try{window.localStorage.setItem(n,e),window.localStorage.setItem(i,"1.0")}catch(e){}finally{r(e)}},(l=new window.XMLHttpRequest).open("GET",t,!0),l.onload=function(){a(l.responseText)},l.send())}}}}();window.bloko&&window.bloko.fontUrl&&e.loadCSS(window.bloko.fontUrl)}(),window.requestIdleCallback=window.requestIdleCallback||function(e){return setTimeout(function(){var o=Date.now();e({didTimeout:!1,timeRemaining:function(){return Math.max(0,50-(Date.now()-o))}})},1)},window.cancelIdleCallback=window.cancelIdleCallback||function(e){clearTimeout(e)};
    </script><meta name="format-detection" content="telephone=no"><meta name="robots" content="noyaca"><meta name="robots" content="noodp"><link title="Вакансии hh.ru" type="application/opensearchdescription+xml" rel="search" href="https://i.hh.ru/opensearch-v.xml"><link title="Резюме hh.ru" type="application/opensearchdescription+xml" rel="search" href="https://i.hh.ru/opensearch-r.xml"><link rel="apple-touch-icon" sizes="76x76" href="https://i.hh.ru/apple/hh/touch-icon-ipad.png"><link rel="apple-touch-icon" sizes="120x120" href="https://i.hh.ru/apple/hh/touch-icon-iphone-retina.png"><link rel="apple-touch-icon" sizes="152x152" href="https://i.hh.ru/apple/hh/touch-icon-ipad-retina.png"><meta name="msapplication-TileColor" content="#ffffff"><meta name="msapplication-square310x310logo" content="https://i.hh.ru/favicons/310x310.png"><meta name="msapplication-wide310x150logo" content="https://i.hh.ru/favicons/310x150.png"><meta name="msapplication-square150x150logo" content="https://i.hh.ru/favicons/150x150.png"><meta name="msapplication-square70x70logo" content="https://i.hh.ru/favicons/70x70.png"><meta name="msapplication-TileImage" content="https://i.hh.ru/favicons/144x144.png"><link rel="icon" href="https://i.hh.ru/favicons/hh.ico?v=2015_03_17"><link rel="stylesheet" href="https://i.hh.ru/css/globals/pages/__bloko-imports_c5e55d57085e8a263ea92e7285714855.css"><link rel="stylesheet" href="https://i.hh.ru/css/globals/pages/__globals_d7576b272058de8db0e1af48dc22aaa2.css"><link rel="stylesheet" href="https://i.hh.ru/css/employer/pages/__employer_b799406dd1889c310f81c73700b8cb37.css"><!--google-universal-analytics counter-->


    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;


        ga('create', 'UA-11659974-2', 'none', 'main');
        ga('main.require', 'linkid', 'linkid.js');
        ga('main.require', 'displayfeatures');
        ga('main.set', 'dimension1', 'employer');


        ga('main.set', 'dimension6', 'nothing');
        ga('main.set', 'dimension7', 'dd66f1c95d043dd140961b404ad94362a68ac9e4cce1b7cfb1685b0b82fa9ff3');
        ga('main.set', 'dimension4', '1812');
        ga('main.set', 'dimension8', 'CM2Zf6ox8PMJBlo5EQk19A--');
        ga('main.set', 'dimension9', '11618392');
        ga('main.set', 'dimension19', '2748');
        ga('main.send', 'pageview');

        ga('create', 'UA-11659974-24', 'none', 'reg');
        ga('reg.require', 'linkid', 'linkid.js');
        ga('reg.require', 'displayfeatures');
        ga('reg.set', 'dimension1', 'employer');


        ga('reg.set', 'dimension6', 'nothing');
        ga('reg.set', 'dimension7', 'dd66f1c95d043dd140961b404ad94362a68ac9e4cce1b7cfb1685b0b82fa9ff3');
        ga('reg.set', 'dimension4', '1812');
        ga('reg.set', 'dimension8', 'CM2Zf6ox8PMJBlo5EQk19A--');
        ga('reg.set', 'dimension9', '11618392');
        ga('reg.set', 'dimension19', '2748');
        ga('reg.send', 'pageview');


    </script>

    <!--/google-universal-analytics counter--><script crossorigin="anonymous" src="https://i.hh.ru/jsbuild/af2e44e9-mapping.js"></script><script crossorigin="anonymous" src="https://i.hh.ru/jsbuild/65104bcb-libs.js"></script><script async="true" crossorigin="anonymous" src="https://i.hh.ru/jsbuild/d141c9ce-combined.js"></script><link rel="canonical" href="https://hh.ru/resume/a69636550001cde90a00000abc4b7544434639"><meta name="viewport" content="width=device-width"></head><body class="l-ambient s-friendly custom-font-allowed"><div class="print-logo-wrapper"><img src="https://i.hh.ru/logos/svg/hh.ru.svg?v=3" class="print-logo" alt="hh.ru"></div><div class="navi HH-VacancyMainSearchInfoTip-Navi"><script data-name="HH/Bloko/Toggle" data-params='
                {
                    "expandClass": "navi_expanded"
                }
            '></script><script data-name="HH/Bloko/Toggle" data-params='
                {
                    "name": "user-notifications",
                    "expandClass": "navi_notifications-shown"
                }
            '></script><script data-name="HH/UserNotifications" data-params=""></script><script data-name="HH/Navi/SearchSelector" data-params=""></script> <div class="HH-MainContent"><noindex><noscript><div class="global-exception"><div class="g-row"><p class="global-exception__text">Для работы с нашим сайтом необходимо, чтобы Вы включили JavaScript в вашем браузере.</p></div></div></noscript></noindex><div class="HH-Unsupported-Browser important-info" style="display: none;"><div class="bloko-columns-wrapper"><div class="bloko-column bloko-column_xs-4 bloko-column_s-8 bloko-column_m-12 bloko-column_l-16">Ваш браузер устарел и больше не поддерживается.
                    Для корректной работы сайта рекомендуем использовать один из современных браузеров. <a href="/article/176" class="important-info__link">Узнать подробнее</a></div></div></div><script type="text/javascript">
            (function() {
                if (!window.bloko || !window.bloko.getUserAgentDetails) {
                    return
                }
                if (!window.bloko.getUserAgentDetails(window.navigator.userAgent).isSupported) {
                    var div = document.querySelector('.HH-Unsupported-Browser');
                    div.style.display = '';
                }
            })();
        </script><div class="bloko-columns-wrapper"><div class="bloko-columns-row"><div class="bloko-column bloko-column_s-8 bloko-column_m-12 bloko-column_l-16 bloko-column_container"><div class="resume-applicant"> <div class="bloko-columns-row"><div class="bloko-column bloko-column_s-8 bloko-column_m-12 bloko-column_l-16 bloko-column_container"><div class="bloko-gap bloko-gap_bottom" data-hh-resume-hash="a69636550001cde90a00000abc4b7544434639"><script data-name="HH/VisitedResumeStorage" data-params=""></script><div class="bloko-columns-row"><div class="bloko-column bloko-column_s-8 bloko-column_m-12 bloko-column_l-16"><div class="resume-header-wrapper"><div class="resume-photo" data-qa="resume-photo"><div class="bloko-gap bloko-gap_right"><script data-name="HH/Bloko/PopupSwitcher" data-params='
                    {
                        "size": "by-content"
                    }
                '></script><img src="https://hh.ru/photo/517290258.png?t=1527242117&amp;h=pkog6gai1k4qwX2QCFrnkA" alt="" class="resume-photo__image HH-Bloko-PopupSwitcher-Switcher" data-qa="resume-photo-image"><div class="g-hidden HH-Bloko-PopupSwitcher-Popup" data-title="Потапов Максим"><img src="https://hh.ru/photo/517290258.png?t=1527242117&amp;h=pkog6gai1k4qwX2QCFrnkA"></div><p></p></div></div><div class="resume-header"><div class="resume-header-main HH-Resume-PhoneVerificationInfoTip-Host"><div class="resume-header-name"><h1 class="header" itemprop="name" data-qa="resume-personal-name">Потапов Максим Сергеевич</h1></div><div class="resume-header-block"><p><span itemprop="gender" data-qa="resume-personal-gender">Мужчина</span>, <span data-qa="resume-personal-age">30 лет</span>, родился 22 сентября 1987<meta itemprop="birthDate" data-qa="resume-personal-birthday" content="1987-09-22"></p><p><span itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality" data-qa="resume-personal-address">Москва</span>, не готов к переезду</span>, готов к командировкам</p></div><div itemprop="contactPoints" itemscope="itemscope" itemtype="http://schema.org/ContactPoint"><div data-qa="resume-contacts-phone"><span itemprop="telephone" data-qa="resume-contact-preferred">+7 (926) 026-22-96</span> <span class="bloko-icon bloko-icon_done bloko-icon_initial-secondary"><script data-name="HH/Tooltip/Hover" data-params='
                {
                    "message": "Соискатель подтвердил телефон"
                }
            '></script></span> — предпочитаемый способ связи</div><div><a href="mailto:potapov_ms@outlook.com" itemprop="email">potapov_ms@outlook.com</a></div><p></p></div><div class="resume-header-print-update-date">Резюме обновлено 24.05.2018 12:55</div></div><div class="resume-header-additional"><div class="resume-header-additional__update-date                                         resume-header-additional__update-date_actual                                         HH-Resume-Last-Update-Time">Резюме обновлено 24.05.2018 12:55</div><div class="resume-header-actions"><script data-name="HH/Employer/ResumeFolders" data-params='
                {
                    "cssClasses": {
                        "iconInFavorites": "bloko-icon_initial-primary",
                        "iconNotInFavorites": "bloko-icon_initial-impact"
                    }
                }
            '></script><script data-name="HH/Employer/FoldersList/Select" data-params='
                {
                    "simhash": "",
                    "defaultFolderName": "Новая папка"
                }
            '></script><div class="resume-header-actions__buttons-wrapper HH-Employer-ResumeFolders-Resume"><div class="HH-Employer-ResumeFolders-Data" onclick="
            return {
                id:'30271754',
                hash:'a69636550001cde90a00000abc4b7544434639',
                folders: []
            }
        "></div><div data-attach="dropdown-content-placeholder" data-qa="resume-serp__favourite-popup" class="
                    g-hidden
                    folders-select
                    folders-select-star
                    HH-Employer-FoldersList-Block
                "><ul class="folders-select__list HH-Employer-FoldersList-Folder-Container"><li class="folders-select__title HH-Employer-FoldersList-Own">Мои папки</li><li data-hh-folder-id="2863595" data-qa="resume-serp__favourite-popup-item" class="b-favorite-folder HH-Employer-FoldersList-Folder-Container"><label class="HH-Employer-FoldersList-Folder"><input class="folders-select__checkbox HH-Employer-FoldersList-Input" type="checkbox" name="favoriteFolder" data-qa="resume-serp__favourite-popup-checkbox" value="2863595"><span class="HH-Employer-FoldersList-Folder-Name" data-qa="resume-serp__favourite-popup-item-title">Favorite</span></label></li><li data-hh-folder-id="3067907" data-qa="resume-serp__favourite-popup-item" class="b-favorite-folder HH-Employer-FoldersList-Folder-Container"><label class="HH-Employer-FoldersList-Folder"><input class="folders-select__checkbox HH-Employer-FoldersList-Input" type="checkbox" name="favoriteFolder" data-qa="resume-serp__favourite-popup-checkbox" value="3067907"><span class="HH-Employer-FoldersList-Folder-Name" data-qa="resume-serp__favourite-popup-item-title">Кострома</span></label></li><li class="folders-select__title HH-Employer-FoldersList-Shared">Общие папки</li><li data-hh-folder-id="283112" data-qa="resume-serp__favourite-popup-item" class="b-favorite-folder HH-Employer-FoldersList-Folder-Container"><label class="HH-Employer-FoldersList-Folder"><input class="folders-select__checkbox HH-Employer-FoldersList-Input" type="checkbox" name="favoriteFolder" data-qa="resume-serp__favourite-popup-checkbox" value="283112"><span class="HH-Employer-FoldersList-Folder-Name" data-qa="resume-serp__favourite-popup-item-title">Favorite</span></label></li><li data-hh-folder-id="343723" data-qa="resume-serp__favourite-popup-item" class="b-favorite-folder HH-Employer-FoldersList-Folder-Container"><label class="HH-Employer-FoldersList-Folder"><input class="folders-select__checkbox HH-Employer-FoldersList-Input" type="checkbox" name="favoriteFolder" data-qa="resume-serp__favourite-popup-checkbox" value="343723"><span class="HH-Employer-FoldersList-Folder-Name" data-qa="resume-serp__favourite-popup-item-title">Pr и реклама</span></label></li><li data-hh-folder-id="281286" data-qa="resume-serp__favourite-popup-item" class="b-favorite-folder HH-Employer-FoldersList-Folder-Container"><label class="HH-Employer-FoldersList-Folder"><input class="folders-select__checkbox HH-Employer-FoldersList-Input" type="checkbox" name="favoriteFolder" data-qa="resume-serp__favourite-popup-checkbox" value="281286"><span class="HH-Employer-FoldersList-Folder-Name" data-qa="resume-serp__favourite-popup-item-title">Trash(арсланова)</span></label></li><li data-hh-folder-id="284121" data-qa="resume-serp__favourite-popup-item" class="b-favorite-folder HH-Employer-FoldersList-Folder-Container"><label class="HH-Employer-FoldersList-Folder"><input class="folders-select__checkbox HH-Employer-FoldersList-Input" type="checkbox" name="favoriteFolder" data-qa="resume-serp__favourite-popup-checkbox" value="284121"><span class="HH-Employer-FoldersList-Folder-Name" data-qa="resume-serp__favourite-popup-item-title">Trash(калининградский)</span></label></li><li data-hh-folder-id="283113" data-qa="resume-serp__favourite-popup-item" class="b-favorite-folder HH-Employer-FoldersList-Folder-Container"><label class="HH-Employer-FoldersList-Folder"><input class="folders-select__checkbox HH-Employer-FoldersList-Input" type="checkbox" name="favoriteFolder" data-qa="resume-serp__favourite-popup-checkbox" value="283113"><span class="HH-Employer-FoldersList-Folder-Name" data-qa="resume-serp__favourite-popup-item-title">Trash(петербургский)</span></label></li><li data-hh-folder-id="1865256" data-qa="resume-serp__favourite-popup-item" class="b-favorite-folder HH-Employer-FoldersList-Folder-Container"><label class="HH-Employer-FoldersList-Folder"><input class="folders-select__checkbox HH-Employer-FoldersList-Input" type="checkbox" name="favoriteFolder" data-qa="resume-serp__favourite-popup-checkbox" value="1865256"><span class="HH-Employer-FoldersList-Folder-Name" data-qa="resume-serp__favourite-popup-item-title">Vip</span></label></li><li data-hh-folder-id="2529520" data-qa="resume-serp__favourite-popup-item" class="b-favorite-folder HH-Employer-FoldersList-Folder-Container"><label class="HH-Employer-FoldersList-Folder"><input class="folders-select__checkbox HH-Employer-FoldersList-Input" type="checkbox" name="favoriteFolder" data-qa="resume-serp__favourite-popup-checkbox" value="2529520"><span class="HH-Employer-FoldersList-Folder-Name" data-qa="resume-serp__favourite-popup-item-title">Автослесарь</span></label></li><li data-hh-folder-id="1724914" data-qa="resume-serp__favourite-popup-item" class="b-favorite-folder HH-Employer-FoldersList-Folder-Container"><label class="HH-Employer-FoldersList-Folder"><input class="folders-select__checkbox HH-Employer-FoldersList-Input" type="checkbox" name="favoriteFolder" data-qa="resume-serp__favourite-popup-checkbox" value="1724914"><span class="HH-Employer-FoldersList-Folder-Name" data-qa="resume-serp__favourite-popup-item-title">Агент прямых продаж</span></label></li><li data-hh-folder-id="31483" data-qa="resume-serp__favourite-popup-item" class="b-favorite-folder HH-Employer-FoldersList-Folder-Container"><label class="HH-Employer-FoldersList-Folder"><input class="folders-select__checkbox HH-Employer-FoldersList-Input" type="checkbox" name="favoriteFolder" data-qa="resume-serp__favourite-popup-checkbox" value="31483"><span class="HH-Employer-FoldersList-Folder-Name" data-qa="resume-serp__favourite-popup-item-title">Без названия</span></label></li><li data-hh-folder-id="2420229" data-qa="resume-serp__favourite-popup-item" class="b-favorite-folder HH-Employer-FoldersList-Folder-Container"><label class="HH-Employer-FoldersList-Folder"><input class="folders-select__checkbox HH-Employer-FoldersList-Input" type="checkbox" name="favoriteFolder" data-qa="resume-serp__favourite-popup-checkbox" value="2420229"><span class="HH-Employer-FoldersList-Folder-Name" data-qa="resume-serp__favourite-popup-item-title">Кладовщик</span></label></li><li data-hh-folder-id="2236639" data-qa="resume-serp__favourite-popup-item" class="b-favorite-folder HH-Employer-FoldersList-Folder-Container"><label class="HH-Employer-FoldersList-Folder"><input class="folders-select__checkbox HH-Employer-FoldersList-Input" type="checkbox" name="favoriteFolder" data-qa="resume-serp__favourite-popup-checkbox" value="2236639"><span class="HH-Employer-FoldersList-Folder-Name" data-qa="resume-serp__favourite-popup-item-title">Сварщик</span></label></li><li class="folders-select__title">Создать папку</li><li><input class="folders-select__checkbox HH-Employer-FoldersList-NewFolderInput" type="checkbox" name="favoriteFolder" value="" data-qa="resume-serp__favourite-popup-new-checkbox"><span class="folders-select__new-folder"><input class="bloko-input                                       bloko-input_small                                       HH-Employer-FoldersList-FolderNameInput" placeholder="Новая папка" data-qa="resume-serp__favourite-popup-field"></span></li><li class="g-hidden                    b-favorite-folder                    HH-Employer-FoldersList-Folder-Container                    HH-Employer-FoldersList-Folder-Container-Template" data-qa="resume-serp__favourite-popup-item"><label class="HH-Employer-FoldersList-Folder"><input class="folders-select__checkbox HH-Employer-FoldersList-Input" type="checkbox" name="favoriteFolder" value="" data-qa="resume-serp__favourite-popup-checkbox"><span class="HH-Employer-FoldersList-Folder-Name" data-qa="resume-serp__favourite-popup-item-title">
                     
                </span></label></li></ul><p class="folders-select-error g-hidden HH-Employer-FoldersList-Error">Не удалось сохранить изменения</p><p class="folders-select-button"><input type="button" class="bloko-button bloko-button_small HH-Employer-FoldersList-Save" data-qa="resume-serp__favourite-popup-save" data-attach="dropdown-hide" value="Сохранить"><span class="g-hidden HH-Employer-FoldersList-Spinner"><span class="bloko-gap bloko-gap_left"><span class="bloko-icon bloko-icon_loading bloko-icon_initial-primary"></span><span class="loader-text">Сохранение</span></span></span></p></div><div class="g-hidden HH-Resume-DownloadDropdown"><ul class="list-params"><li class="list-params__item list-params__item_download-msword"><a href="/13hh/resume_converter.php?%D0%9F%D0%BE%D1%82%D0%B0%D0%BF%D0%BE%D0%B2%20%D0%9C%D0%B0%D0%BA%D1%81%D0%B8%D0%BC%20%D0%A1%D0%B5%D1%80%D0%B3%D0%B5%D0%B5%D0%B2%D0%B8%D1%87.doc?hash=a69636550001cde90a00000abc4b7544434639&amp;type=rtf" class="list-params__link"><span class="list-params__link-note">.doc</span>Microsoft Word</a></li><li class="list-params__item list-params__item_download-msword"><a href="/13hh/resume_converter.php?%D0%9F%D0%BE%D1%82%D0%B0%D0%BF%D0%BE%D0%B2%20%D0%9C%D0%B0%D0%BA%D1%81%D0%B8%D0%BC%20%D0%A1%D0%B5%D1%80%D0%B3%D0%B5%D0%B5%D0%B2%D0%B8%D1%87.rtf?hash=a69636550001cde90a00000abc4b7544434639&amp;type=rtf" class="list-params__link"><span class="list-params__link-note">.rtf</span>Microsoft Word</a></li><li class="list-params__item list-params__item_download-adobereader"><a href="/13hh/resume_converter.php?%D0%9F%D0%BE%D1%82%D0%B0%D0%BF%D0%BE%D0%B2%20%D0%9C%D0%B0%D0%BA%D1%81%D0%B8%D0%BC%20%D0%A1%D0%B5%D1%80%D0%B3%D0%B5%D0%B5%D0%B2%D0%B8%D1%87.pdf?hash=a69636550001cde90a00000abc4b7544434639&amp;type=pdf" class="list-params__link"><span class="list-params__link-note">.pdf</span>Adobe Reader</a></li><li class="list-params__item list-params__item_download-notepad"><a href="/13hh/resume_converter.php?%D0%9F%D0%BE%D1%82%D0%B0%D0%BF%D0%BE%D0%B2%20%D0%9C%D0%B0%D0%BA%D1%81%D0%B8%D0%BC%20%D0%A1%D0%B5%D1%80%D0%B3%D0%B5%D0%B5%D0%B2%D0%B8%D1%87.txt?hash=a69636550001cde90a00000abc4b7544434639&amp;type=txt" class="list-params__link" target="_blank"><span class="list-params__link-note">.txt</span>Простой текст</a></li></ul></div><div class="g-hidden HH-Employer-ResumeMoreActions"><div class="dropdown-links"><a href="/employer/mailto?resume=a69636550001cde90a00000abc4b7544434639" class="dropdown-links__item" data-qa="resume__mailto-button">Написать письмо</a> </div></div></div></div><div class="resume-header-additional__update-date                                         resume-header-additional__update-date_dummy">Резюме обновлено 24.05.2018 12:55</div></div></div></div></div></div></div><div class="resume-header-divider"></div></div></div><script data-name="HH/Resume/History" data-params='
            {
                "loadFrom": "/shards/resume/history?resumeHash=a69636550001cde90a00000abc4b7544434639",
                "trl": {
                    "error": {
                        "loading": "Ошибка при загрузке истории, попробуйте позже"
                    },
                    "toggle": {
                        "expand": "Показать всю историю",
                        "collapse": "Скрыть историю"
                    }
                }
            }
        '></script><div class="resume-wrapper"><div class="bloko-columns-row"><div class="bloko-column bloko-column_s-8 bloko-column_m-9 bloko-column_l-12 bloko-column_container" itemscope="itemscope" itemtype="http://schema.org/Person"><div class="resume-block-tabs"><div class="bloko-column bloko-column_s-8 bloko-column_m-0 bloko-column_l-0"><script data-name="bloko/blocks/tabs/adaptiveTabs" data-params=""></script><div class="bloko-tabs-wrapper"><div class="bloko-tabs Bloko-Tabs-Container"><div class="bloko-gap bloko-gap_left"><div class="Bloko-Tabs-Tab bloko-tabs__item">Комментарии</div><div class="Bloko-Tabs-Tab bloko-tabs__item">Оценка</div></div></div></div><div class="substrate substrate_dashboard"><div class="bloko-gap bloko-gap_top bloko-gap_bottom bloko-gap_right bloko-gap_left"><div class="Bloko-Tabs-Body g-hidden"><script data-name="HH/Resume/Comments/List" data-params='
            {
                "trlForm": {
                    "add": "Добавить комментарий",
                    "save": "Сохранить",
                    "serverError": "Произошла ошибка, попробуйте позднее",
                    "confirm": {
                        "title": "Вы уверены, что хотите удалить этот комментарий?",
                        "accept": "Да",
                        "decline": "Отмена"
                    }
                },

                "applicantId": 8318438,
                "emptyCommentsClass": "resume-sidebar-section_noprint",
                "commentsOnPage": 3,
                "trl": {
                    "show_more": "Еще",
                    "show_full": "Раскрыть",
                    "show_less": "Свернуть",
                    "visibleToMe": "Виден только мне",
                    "comments": [
                        "комментарий",
                        "комментария",
                        "комментариев"
                    ]
                }
            }
        '></script><span class="HH-Resume-Comments-List-LoadCollection bloko-icon bloko-icon_loading bloko-icon_initial-primary"></span><div class="resume-sidebar-link"><button class="bloko-link                            HH-Resume-Comments-Form-AddButton                            HH-Resume-Comments-List-AddButton                            g-hidden" data-qa="add-comment">Добавить комментарий</button></div><div class="HH-Resume-Comments-List-Template-Editable                     HH-ResumeComments-Comment                     resume-sidebar-item                     g-expand                     g-hidden"><div class="g-expandable"><div class="resume-sidebar-item__text-wrapper"><span class="HH-Resume-Comments-List-Text resume-sidebar-item__text" data-qa="comment__text"></span><div class="resume-sidebar-item__text-toggle"><span class="bloko-link-switch bloko-link-switch_inherited"><span class="HH-Resume-Comments-List-ShowAll g-hidden"></span></span></div></div><div class="resume-sidebar-item__info"><span class="HH-Resume-Comments-List-User" data-qa="comment__author"></span>, <span class="HH-Resume-Comments-List-Date" data-qa="comment__date"></span></div><div class="HH-Resume-Comments-List-Visible resume-sidebar-item__info" data-qa="comment__visibility"></div><div class="resume-sidebar-item__info resume-sidebar-item__info_noprint"><span class="HH-Resume-Comments-List-Text-Edit bloko-link-switch bloko-link-switch_inherited" data-qa="comment__edit">Изменить</span><span class="bloko-form-spacer"><span class="HH-Resume-Comments-List-Text-Delete bloko-link-switch bloko-link-switch_inherited" data-qa="comment__delete">Удалить</span></span></div></div></div><div class="HH-Resume-Comments-List-Template                     HH-ResumeComments-Comment                     resume-sidebar-item                     g-hidden"><div class="resume-sidebar-item__text-wrapper"><span class="HH-Resume-Comments-List-Text resume-sidebar-item__text" data-qa="comment__text"></span><div class="resume-sidebar-item__text-toggle"><span class="bloko-link-switch bloko-link-switch_inherited"><span class="HH-Resume-Comments-List-ShowAll g-hidden"></span></span></div></div><div class="resume-sidebar-item__info"><span class="HH-Resume-Comments-List-User" data-qa="comment__author"></span>, <span class="HH-Resume-Comments-List-Date" data-qa="comment__date"></span></div><div class="HH-Resume-Comments-List-Visible resume-sidebar-item__info" data-qa="comment__visibility"></div></div><div class="HH-Resume-Comments-List-Container"></div><div class="HH-Resume-Comments-Form resume-sidebar-item g-hidden"><div class="resume-comment-form"><div class="resume-comment-form__row"><select class="bloko-select                            bloko-select_small                            HH-Resume-Comments-AccessType" name="accessType" data-qa="comment-form__visibility"><option value="COWORKERS">Виден моей компании</option><option value="OWNER">Виден только мне</option></select></div><div class="resume-comment-form__row"><script data-name="HH/QueryLength" data-params='
                        {
                            "maxLength": 10000,
                            "message": "Не более 10000 символов. Сократите текст."
                        }
                    '></script><textarea class="bloko-textarea                                      bloko-textarea_sized-rows                                      HH-Resume-Comments-Textarea                                      HH-QueryLength-Observed" maxlength="10000" data-qa="comment-form__textarea" rows="10"></textarea></div><div class="resume-comment-form__row"><button class="bloko-button                                    bloko-button_small                                    bloko-button_primary                                    bloko-button_stretched                                    HH-Resume-Comments-Save-Button" data-change-group="resume-comment-buttons" data-qa="comment-form__add"><span class="bloko-button__content HH-Resume-Comments-Save-Button-Content">Сохранить</span><span class="bloko-button__loading"><span class="bloko-icon                                          bloko-icon_loading                                          bloko-icon_initial-inverted"></span></span></button></div><div class="resume-comment-form__row"><button class="bloko-button                                    bloko-button_small                                    bloko-button_stretched                                    HH-Resume-Comments-Cancel-Button" data-change-group="resume-comment-buttons" data-qa="comment-form__cancel">Отменить</button></div></div></div><div class="HH-Resume-Comments-List-More g-hidden resume-sidebar-link" data-qa="more-comments"><span class="bloko-link-switch bloko-link-switch_tertiary noprint HH-Resume-Comments-List-More-Text"></span></div></div><div class="Bloko-Tabs-Body g-hidden"><a href="/article/assessment_promo" data-qa="resume__invite-with-assessment-button"><script data-name="HH/SendAnalytics" data-params='
            {
                "onEvent": "click",
                "category": "employer",
                "action": "invite",
                "label": "recommended",
                "toStorage": true
            }
        '></script>Пригласить на оценку</a></div></div></div></div></div><div class="bloko-gap bloko-gap_top"><div><div class="resume-block"><div class="bloko-columns-row"><div class="bloko-column bloko-column_s-5 bloko-column_m-6 bloko-column_l-9"><h2 class="header header_level-2"><span class="resume-block__title-text " data-qa="resume-block-title-position">junior android разработчик</span></h2></div><div class="bloko-column bloko-column_s-3 bloko-column_m-3 bloko-column_l-3"><div class="resume-block-container"><div class="header header_level-2"><span class="resume-block__salary" data-qa="resume-block-salary">40 000 руб.</span></div></div></div></div><div class="bloko-columns-row"><div class="bloko-column bloko-column_xs-4 bloko-column_s-8 bloko-column_m-9 bloko-column_l-12"><div class="bloko-gap bloko-gap_bottom"><span data-qa="resume-block-specialization-category">Информационные технологии, интернет, телеком</span><ul><li class="resume-block__specialization" data-qa="resume-block-position-specialization">Программирование, Разработка</li></ul></div><p>Занятость: полная занятость</p><p>График работы: удаленная работа, гибкий график, полный день, сменный график</p></div></div></div><div class="resume-block" data-qa="resume-block-experience"><div class="bloko-columns-row"><div class="bloko-column bloko-column_xs-4 bloko-column_s-8 bloko-column_m-9 bloko-column_l-12"><div class="resume-block-container"><h2 class="header header_level-2-thin"><span class="resume-block__title-text resume-block__title-text_sub">Опыт работы 6 лет 4 месяца</span></h2></div></div></div><div class="resume-block-item-gap" itemprop="worksFor" itemscope="itemscope" itemtype="http://schema.org/Organization"><div class="bloko-columns-row"><div class="bloko-column bloko-column_s-2 bloko-column_m-2 bloko-column_l-2">Июль 2017 — по настоящее время<div class="resume-block__experience-timeinterval">11 месяцев</div></div><div class="bloko-column bloko-column_s-6 bloko-column_m-7 bloko-column_l-10"><div class="resume-block-container"><div itemprop="name" class="resume-block__sub-title">geekbrains</div><p><span itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Россия</span></span>, <span><a class="resume__experience-url" href="https://geekbrains.ru/company?tab=license#license" itemprop="url">geekbrains.ru/company?tab=license#license</a></span></p><div class="resume-block__experience-gap-bottom"><script data-name="HH/Bloko/Toggle" data-params='
                {
                    "expandClass": "g-expand"
                }
            '></script><p><span class="Разработка программного обеспеченияИнформационные технологии, системная интеграция, интернет">Информационные технологии, системная интеграция, интернет<span class="g-expandable-reverse resume-industries__open" data-toggle="">... Показать еще</span></span><div class="g-expandable"><ul class="profareatree__sublist profareatree__sublist_experience"><li class="profareatree__subitem profareatree__subitem_experience"><span>Разработка программного обеспечения</span></li></ul></div></p></div><div class="resume-block__sub-title" data-qa="resume-block-experience-position">Программист-стажер</div><div data-qa="resume-block-experience-description"><script data-name="HH/Linkify" data-params=""></script>Обучение на онлайн факультете android-разработки.<br><br>Пример тестового задания для одной из вакансий:<br><br>Приложение - поисковик книг с использованием Google Books API.<br><br>https://github.com/Maks347743/booksearch<br><br>Архитектура - MVP с помощью Moxy.<br><br>В приложении также используются библиотеки:<br><br>•	Butterknife<br>•	Dagger 2<br>•	Retrofit<br>•	Rxjava2<br>•	Glide<br><br>За время обучения были выполнены следующие проекты:<br><br>1. Погодное приложение на Android<br><br>https://github.com/Maks347743/WeatherViewer/<br><br>Простое погодное приложение, позволяющее ввести город и получить данные о погоде:<br>- текущие данные;<br>- почасовые на ближайшие 48 часов;<br>- ежедневные на ближайшие 16 дней;<br>- реализован простой виджет, который выводит текущие данные;<br>- город можно добавить в избранное и удалить из избранного и выбрать позже для быстрого просмотра погоды;<br><br>2. Клиент-серверное облачное хранилище на java с применением сокетов.<br><br>https://github.com/Maks347743/Cloud_Saver<br><br>Простое облачное хранилище на java с возможностью залить файл на сервер, скачать, удалить на сервере.<br><br>3. Простая игра-космошутер с использованием фреймворка libGDX.<br><br>https://github.com/Maks347743/geek-space-shooter/<br><br>4. В настоящий момент работаю над клоном Instagram с использованием сервиса Firebase.<br><br>https://github.com/Maks347743/AndroidInstagramClone</div></div></div></div></div><div class="resume-block-item-gap" itemprop="worksFor" itemscope="itemscope" itemtype="http://schema.org/Organization"><div class="bloko-columns-row"><div class="bloko-column bloko-column_s-2 bloko-column_m-2 bloko-column_l-2">Май 2016 — <span class="resume-block__experience-mount-last">Март</span> 2017<div class="resume-block__experience-timeinterval">11 месяцев</div></div><div class="bloko-column bloko-column_s-6 bloko-column_m-7 bloko-column_l-10"><div class="resume-block-container"><div itemprop="name" class="resume-block__sub-title">ПАО Банк "Финансовая корпорация "Открытие"</div><p><span itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Москва</span></span>, <span><a class="resume__experience-url" href="https://www.open.ru/" itemprop="url">www.open.ru/</a></span></p><div class="resume-block__experience-gap-bottom"><script data-name="HH/Bloko/Toggle" data-params='
                {
                    "expandClass": "g-expand"
                }
            '></script></div><div class="resume-block__sub-title" data-qa="resume-block-experience-position">Ведущий тестировщик</div><div data-qa="resume-block-experience-description"><script data-name="HH/Linkify" data-params=""></script>Agile-проект:<br><br>Присоединение филиала (единый интернет-банк и мобильное приложение Банка)<br><br>Функциональные обязанности:<br><br>- Анализ бизнес-требований, технических заданий;<br>- Проведение интеграционного тестирования банковского ПО;<br>- Smoke-тестирование функционала;<br>- Тестирование мобильного приложения Банка;<br>- Фиксация результатов тестирования в багтрекинговой системе (Redmine, TFS);<br>- Участие в проектной командной работе, взаимодействие с командой разработки и аналитиками;<br>- Обнаружение, локализация, подробное документирование и обеспечение оперативного исправления обнаруженных ошибок (в т. ч. обработка дефектов с боя);<br>- Создание и поддержка тест-кейсов в актуальном состоянии;<br>- Оценка трудозатрат по задачам;<br>- Работа с базой данных (Microsoft SQL Server) для быстрого поиска и редактирования тестовых данных;<br>- Передача компетенций команде тестирования и наставничество;<br>- Подготовка и отправка отчетности: ежедневная, еженедельная и итоговая;<br><br>Работа с системами на проекте:<br><br>1.3CardR<br>2. CFT<br>3. Way4<br><br>Средства тестирования:<br>1. Bag Tracking System - Redmine, TFS;<br>2. MS SQL Server 2012;</div></div></div></div></div><div class="resume-block-item-gap" itemprop="worksFor" itemscope="itemscope" itemtype="http://schema.org/Organization"><div class="bloko-columns-row"><div class="bloko-column bloko-column_s-2 bloko-column_m-2 bloko-column_l-2">Июль 2015 — <span class="resume-block__experience-mount-last">Май</span> 2016<div class="resume-block__experience-timeinterval">11 месяцев</div></div><div class="bloko-column bloko-column_s-6 bloko-column_m-7 bloko-column_l-10"><div class="resume-block-container"><div itemprop="name" class="resume-block__sub-title">ООО «Перфоманс Лаб»</div><p><span itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Москва</span></span>, <span><a class="resume__experience-url" href="http://www.performance-lab.ru/" itemprop="url">www.performance-lab.ru/</a></span></p><div class="resume-block__experience-gap-bottom"><script data-name="HH/Bloko/Toggle" data-params='
                {
                    "expandClass": "g-expand"
                }
            '></script><p><span class="Разработка программного обеспеченияСистемная интеграция,  автоматизации технологических и бизнес-процессов предприятия, ИТ-консалтингИнформационные технологии, системная интеграция, интернет">Информационные технологии, системная интеграция, интернет<span class="g-expandable-reverse resume-industries__open" data-toggle="">... Показать еще</span></span><div class="g-expandable"><ul class="profareatree__sublist profareatree__sublist_experience"><li class="profareatree__subitem profareatree__subitem_experience"><span>Разработка программного обеспечения</span></li></ul></div><div class="g-expandable"><ul class="profareatree__sublist profareatree__sublist_experience"><li class="profareatree__subitem profareatree__subitem_experience"><span>Системная интеграция,  автоматизации технологических и бизнес-процессов предприятия, ИТ-консалтинг</span></li></ul></div></p></div><div class="resume-block__sub-title" data-qa="resume-block-experience-position">Инженер-тестировщик</div><div data-qa="resume-block-experience-description"><script data-name="HH/Linkify" data-params=""></script>Проекты:<br><br>Промсвязьбанк - тестирование банковских систем.<br><br>Функциональные обязанности:<br><br>- Анализ бизнес-требований, технических заданий;<br>- Проведение ручного функционального и интеграционного тестирования ПО;<br>- Фиксация результатов тестирования в багтрекинговой системе (Jira);<br>- Участие в проектной командной работе, взаимодействие с командой разработки и аналитиками;<br>- Обнаружение, локализация, подробное документирование и обеспечение оперативного исправления обнаруженных ошибок;<br>- Создание и поддержка тест-кейсов в актуальном состоянии;<br>- Документирование хода тестирования задач;<br>- Оценка трудозатрат по задачам;<br>- Использование SQL и обращение к БД (Microsoft SQL Server) для быстрого поиска и редактирования тестовых данных;<br>- Передача компетенций команде тестирования и наставничество;<br>- Подготовка и отправка отчетности: ежедневная, еженедельная и итоговая;<br><br>Работа с системами на проекте:<br><br>1.PSB-Retail АБС<br>2. Documentum<br>3. Новая Афина.<br><br>Средства тестирования:<br>1. Bag Tracking System - Jira;<br>2. MS SQL Server 2012. SQL;</div></div></div></div></div><div class="resume-block-item-gap" itemprop="worksFor" itemscope="itemscope" itemtype="http://schema.org/Organization"><div class="bloko-columns-row"><div class="bloko-column bloko-column_s-2 bloko-column_m-2 bloko-column_l-2">Июль 2011 — <span class="resume-block__experience-mount-last">Февраль</span> 2015<div class="resume-block__experience-timeinterval">3 года 8 месяцев</div></div><div class="bloko-column bloko-column_s-6 bloko-column_m-7 bloko-column_l-10"><div class="resume-block-container"><div itemprop="name" class="resume-block__sub-title">Банк Москвы, ОАО</div><p><span itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">Москва</span></span>, <span><a class="resume__experience-url" href="http://www.bm.ru" itemprop="url">www.bm.ru</a></span></p><div class="resume-block__experience-gap-bottom"><script data-name="HH/Bloko/Toggle" data-params='
                {
                    "expandClass": "g-expand"
                }
            '></script><p><span class="БанкФинансовый сектор">Финансовый сектор<span class="g-expandable-reverse resume-industries__open" data-toggle="">... Показать еще</span></span><div class="g-expandable"><ul class="profareatree__sublist profareatree__sublist_experience"><li class="profareatree__subitem profareatree__subitem_experience"><span>Банк</span></li></ul></div></p></div><div class="resume-block__sub-title" data-qa="resume-block-experience-position">Клиентский менеджер</div><div data-qa="resume-block-experience-description"><script data-name="HH/Linkify" data-params=""></script>- консультирование клиентов и оформление всего спектра банковских услуг;</div></div></div></div></div></div><div id="key-skills"></div><div class="resume-block" data-qa="skills-table"><div class="bloko-columns-row"><div class="bloko-column bloko-column_xs-4 bloko-column_s-8 bloko-column_m-9 bloko-column_l-12"><div class="resume-block-container"><h2 class="header header_level-2-thin"><span class="resume-block__title-text resume-block__title-text_sub">Ключевые навыки</span></h2><div xmlns:b="http://hhru.github.com/bloko/" xmlns:hh="http://schema.reintegration.hh.ru/types"><script data-name="HH/Resume/Endorsement" data-params='
            {
                "resumeId": 30271754,
                "trl": {
                    "endorsementUsers": "Подтвердившие навык"
                },
                "skills": [

        {
            "id": "1252",
            "text": "SQL",
            "count": 0,
            "increased": false,
            "changeable": true

        },
        {
            "id": "2835",
            "text": "\u0422\u0435\u0441\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u0438\u0435",
            "count": 0,
            "increased": false,
            "changeable": true

        },
        {
            "id": "17049",
            "text": "\u0420\u0430\u0431\u043e\u0442\u0430 \u0441 \u0431\u0430\u0437\u0430\u043c\u0438 \u0434\u0430\u043d\u043d\u044b\u0445",
            "count": 0,
            "increased": false,
            "changeable": true

        },
        {
            "id": "11470",
            "text": "Android SDK",
            "count": 0,
            "increased": false,
            "changeable": true

        },
        {
            "id": "14026",
            "text": "Java SE",
            "count": 0,
            "increased": false,
            "changeable": true

        },
        {
            "id": "58337",
            "text": "Android Studio",
            "count": 0,
            "increased": false,
            "changeable": true

        },
        {
            "id": "6038712",
            "text": "moxy",
            "count": 0,
            "increased": false,
            "changeable": true

        },
        {
            "id": "3597589",
            "text": "butterknife",
            "count": 0,
            "increased": false,
            "changeable": true

        },
        {
            "id": "6789714",
            "text": "rxjava2",
            "count": 0,
            "increased": false,
            "changeable": true

        },
        {
            "id": "3334616",
            "text": "timber",
            "count": 0,
            "increased": false,
            "changeable": true

        },
        {
            "id": "3094262",
            "text": "retrofit",
            "count": 0,
            "increased": false,
            "changeable": true

        },
        {
            "id": "3483179",
            "text": "picasso",
            "count": 0,
            "increased": false,
            "changeable": true

        },
        {
            "id": "4259561",
            "text": "glide",
            "count": 0,
            "increased": false,
            "changeable": true

        },
        {
            "id": "3990577",
            "text": "firebase",
            "count": 0,
            "increased": false,
            "changeable": true

        },
        {
            "id": "2725231",
            "text": "realm",
            "count": 0,
            "increased": false,
            "changeable": true

        },
        {
            "id": "7343331",
            "text": "paper",
            "count": 0,
            "increased": false,
            "changeable": true

        },
        {
            "id": "7343334",
            "text": "active android",
            "count": 0,
            "increased": false,
            "changeable": true

        },
        {
            "id": "5392911",
            "text": "dagger2",
            "count": 0,
            "increased": false,
            "changeable": true

        },
        {
            "id": "45656",
            "text": "mvp",
            "count": 0,
            "increased": false,
            "changeable": true

        }
                ],
                "userType": "employer"

            }
        '></script><p class="resume-key-skills-message"><div class="g-hidden HH-ShareDropdown-Resume-ShareContent resume-key-skills-dropdown"><div class="resume-key-skills-link-input"><script data-name="HH/Input/SelectValue" data-params=""></script><input type="text" class="bloko-input HH-Input-SelectValue" readonly value="https://hh.ru/resume/a69636550001cde90a00000abc4b7544434639#key-skills"></div><div><script data-name="HH/Social/Share" data-params='
                    {
                        "virtualUrl": "/virtual/click/social/resume/"
                    }
                '></script><p></p><p class="resume-key-skills-show-all-warning">Теперь резюме открыто всему интернету — изменить можно в <a href="/applicant/resumes/edit/visibility?resume=a69636550001cde90a00000abc4b7544434639">настройках видимости.</a></p></div></div></p><div class="HH-Endorsement-Countable-TagList"><span class="bloko-tag bloko-tag_inline bloko-tag_countable Bloko-TagList-Tag" data-tag-id="1252" data-qa="bloko-tag_inline"><span class="bloko-tag__section bloko-tag__section_text" title="SQL"><span class="Bloko-TagList-Text" data-qa="bloko-tag__text">SQL</span></span><button class="bloko-tag-button bloko-tag-button_increase Bloko-TagList-Increase" data-qa="bloko-tag__increase" type="button"><span class="bloko-icon bloko-icon_plus bloko-icon_initial-inverted"></span></button></span><span class="bloko-tag bloko-tag_inline bloko-tag_countable Bloko-TagList-Tag" data-tag-id="2835" data-qa="bloko-tag_inline"><span class="bloko-tag__section bloko-tag__section_text" title="Тестирование"><span class="Bloko-TagList-Text" data-qa="bloko-tag__text">Тестирование</span></span><button class="bloko-tag-button bloko-tag-button_increase Bloko-TagList-Increase" data-qa="bloko-tag__increase" type="button"><span class="bloko-icon bloko-icon_plus bloko-icon_initial-inverted"></span></button></span><span class="bloko-tag bloko-tag_inline bloko-tag_countable Bloko-TagList-Tag" data-tag-id="17049" data-qa="bloko-tag_inline"><span class="bloko-tag__section bloko-tag__section_text" title="Работа с базами данных"><span class="Bloko-TagList-Text" data-qa="bloko-tag__text">Работа с базами данных</span></span><button class="bloko-tag-button bloko-tag-button_increase Bloko-TagList-Increase" data-qa="bloko-tag__increase" type="button"><span class="bloko-icon bloko-icon_plus bloko-icon_initial-inverted"></span></button></span><span class="bloko-tag bloko-tag_inline bloko-tag_countable Bloko-TagList-Tag" data-tag-id="11470" data-qa="bloko-tag_inline"><span class="bloko-tag__section bloko-tag__section_text" title="Android SDK"><span class="Bloko-TagList-Text" data-qa="bloko-tag__text">Android SDK</span></span><button class="bloko-tag-button bloko-tag-button_increase Bloko-TagList-Increase" data-qa="bloko-tag__increase" type="button"><span class="bloko-icon bloko-icon_plus bloko-icon_initial-inverted"></span></button></span><span class="bloko-tag bloko-tag_inline bloko-tag_countable Bloko-TagList-Tag" data-tag-id="14026" data-qa="bloko-tag_inline"><span class="bloko-tag__section bloko-tag__section_text" title="Java SE"><span class="Bloko-TagList-Text" data-qa="bloko-tag__text">Java SE</span></span><button class="bloko-tag-button bloko-tag-button_increase Bloko-TagList-Increase" data-qa="bloko-tag__increase" type="button"><span class="bloko-icon bloko-icon_plus bloko-icon_initial-inverted"></span></button></span><span class="bloko-tag bloko-tag_inline bloko-tag_countable Bloko-TagList-Tag" data-tag-id="58337" data-qa="bloko-tag_inline"><span class="bloko-tag__section bloko-tag__section_text" title="Android Studio"><span class="Bloko-TagList-Text" data-qa="bloko-tag__text">Android Studio</span></span><button class="bloko-tag-button bloko-tag-button_increase Bloko-TagList-Increase" data-qa="bloko-tag__increase" type="button"><span class="bloko-icon bloko-icon_plus bloko-icon_initial-inverted"></span></button></span><span class="bloko-tag bloko-tag_inline bloko-tag_countable Bloko-TagList-Tag" data-tag-id="6038712" data-qa="bloko-tag_inline"><span class="bloko-tag__section bloko-tag__section_text" title="moxy"><span class="Bloko-TagList-Text" data-qa="bloko-tag__text">moxy</span></span><button class="bloko-tag-button bloko-tag-button_increase Bloko-TagList-Increase" data-qa="bloko-tag__increase" type="button"><span class="bloko-icon bloko-icon_plus bloko-icon_initial-inverted"></span></button></span><span class="bloko-tag bloko-tag_inline bloko-tag_countable Bloko-TagList-Tag" data-tag-id="3597589" data-qa="bloko-tag_inline"><span class="bloko-tag__section bloko-tag__section_text" title="butterknife"><span class="Bloko-TagList-Text" data-qa="bloko-tag__text">butterknife</span></span><button class="bloko-tag-button bloko-tag-button_increase Bloko-TagList-Increase" data-qa="bloko-tag__increase" type="button"><span class="bloko-icon bloko-icon_plus bloko-icon_initial-inverted"></span></button></span><span class="bloko-tag bloko-tag_inline bloko-tag_countable Bloko-TagList-Tag" data-tag-id="6789714" data-qa="bloko-tag_inline"><span class="bloko-tag__section bloko-tag__section_text" title="rxjava2"><span class="Bloko-TagList-Text" data-qa="bloko-tag__text">rxjava2</span></span><button class="bloko-tag-button bloko-tag-button_increase Bloko-TagList-Increase" data-qa="bloko-tag__increase" type="button"><span class="bloko-icon bloko-icon_plus bloko-icon_initial-inverted"></span></button></span><span class="bloko-tag bloko-tag_inline bloko-tag_countable Bloko-TagList-Tag" data-tag-id="3334616" data-qa="bloko-tag_inline"><span class="bloko-tag__section bloko-tag__section_text" title="timber"><span class="Bloko-TagList-Text" data-qa="bloko-tag__text">timber</span></span><button class="bloko-tag-button bloko-tag-button_increase Bloko-TagList-Increase" data-qa="bloko-tag__increase" type="button"><span class="bloko-icon bloko-icon_plus bloko-icon_initial-inverted"></span></button></span><span class="bloko-tag bloko-tag_inline bloko-tag_countable Bloko-TagList-Tag" data-tag-id="3094262" data-qa="bloko-tag_inline"><span class="bloko-tag__section bloko-tag__section_text" title="retrofit"><span class="Bloko-TagList-Text" data-qa="bloko-tag__text">retrofit</span></span><button class="bloko-tag-button bloko-tag-button_increase Bloko-TagList-Increase" data-qa="bloko-tag__increase" type="button"><span class="bloko-icon bloko-icon_plus bloko-icon_initial-inverted"></span></button></span><span class="bloko-tag bloko-tag_inline bloko-tag_countable Bloko-TagList-Tag" data-tag-id="3483179" data-qa="bloko-tag_inline"><span class="bloko-tag__section bloko-tag__section_text" title="picasso"><span class="Bloko-TagList-Text" data-qa="bloko-tag__text">picasso</span></span><button class="bloko-tag-button bloko-tag-button_increase Bloko-TagList-Increase" data-qa="bloko-tag__increase" type="button"><span class="bloko-icon bloko-icon_plus bloko-icon_initial-inverted"></span></button></span><span class="bloko-tag bloko-tag_inline bloko-tag_countable Bloko-TagList-Tag" data-tag-id="4259561" data-qa="bloko-tag_inline"><span class="bloko-tag__section bloko-tag__section_text" title="glide"><span class="Bloko-TagList-Text" data-qa="bloko-tag__text">glide</span></span><button class="bloko-tag-button bloko-tag-button_increase Bloko-TagList-Increase" data-qa="bloko-tag__increase" type="button"><span class="bloko-icon bloko-icon_plus bloko-icon_initial-inverted"></span></button></span><span class="bloko-tag bloko-tag_inline bloko-tag_countable Bloko-TagList-Tag" data-tag-id="3990577" data-qa="bloko-tag_inline"><span class="bloko-tag__section bloko-tag__section_text" title="firebase"><span class="Bloko-TagList-Text" data-qa="bloko-tag__text">firebase</span></span><button class="bloko-tag-button bloko-tag-button_increase Bloko-TagList-Increase" data-qa="bloko-tag__increase" type="button"><span class="bloko-icon bloko-icon_plus bloko-icon_initial-inverted"></span></button></span><span class="bloko-tag bloko-tag_inline bloko-tag_countable Bloko-TagList-Tag" data-tag-id="2725231" data-qa="bloko-tag_inline"><span class="bloko-tag__section bloko-tag__section_text" title="realm"><span class="Bloko-TagList-Text" data-qa="bloko-tag__text">realm</span></span><button class="bloko-tag-button bloko-tag-button_increase Bloko-TagList-Increase" data-qa="bloko-tag__increase" type="button"><span class="bloko-icon bloko-icon_plus bloko-icon_initial-inverted"></span></button></span><span class="bloko-tag bloko-tag_inline bloko-tag_countable Bloko-TagList-Tag" data-tag-id="7343331" data-qa="bloko-tag_inline"><span class="bloko-tag__section bloko-tag__section_text" title="paper"><span class="Bloko-TagList-Text" data-qa="bloko-tag__text">paper</span></span><button class="bloko-tag-button bloko-tag-button_increase Bloko-TagList-Increase" data-qa="bloko-tag__increase" type="button"><span class="bloko-icon bloko-icon_plus bloko-icon_initial-inverted"></span></button></span><span class="bloko-tag bloko-tag_inline bloko-tag_countable Bloko-TagList-Tag" data-tag-id="7343334" data-qa="bloko-tag_inline"><span class="bloko-tag__section bloko-tag__section_text" title="active android"><span class="Bloko-TagList-Text" data-qa="bloko-tag__text">active android</span></span><button class="bloko-tag-button bloko-tag-button_increase Bloko-TagList-Increase" data-qa="bloko-tag__increase" type="button"><span class="bloko-icon bloko-icon_plus bloko-icon_initial-inverted"></span></button></span><span class="bloko-tag bloko-tag_inline bloko-tag_countable Bloko-TagList-Tag" data-tag-id="5392911" data-qa="bloko-tag_inline"><span class="bloko-tag__section bloko-tag__section_text" title="dagger2"><span class="Bloko-TagList-Text" data-qa="bloko-tag__text">dagger2</span></span><button class="bloko-tag-button bloko-tag-button_increase Bloko-TagList-Increase" data-qa="bloko-tag__increase" type="button"><span class="bloko-icon bloko-icon_plus bloko-icon_initial-inverted"></span></button></span><span class="bloko-tag bloko-tag_inline bloko-tag_countable Bloko-TagList-Tag" data-tag-id="45656" data-qa="bloko-tag_inline"><span class="bloko-tag__section bloko-tag__section_text" title="mvp"><span class="Bloko-TagList-Text" data-qa="bloko-tag__text">mvp</span></span><button class="bloko-tag-button bloko-tag-button_increase Bloko-TagList-Increase" data-qa="bloko-tag__increase" type="button"><span class="bloko-icon bloko-icon_plus bloko-icon_initial-inverted"></span></button></span></div><p class="HH-Endorsement-Error HH-ShareDropdown-Error validation-error g-hidden">Возникли неполадки. Попробуйте еще раз.</p></div></div></div></div></div><div class="resume-block"><div class="bloko-columns-row"><div class="bloko-column bloko-column_xs-4 bloko-column_s-8 bloko-column_m-9 bloko-column_l-12"><div class="resume-block-container"><h2 class="header header_level-2-thin"><span class="resume-block__title-text resume-block__title-text_sub">Обо мне</span></h2><div data-qa="resume-block-skills"><script data-name="HH/Linkify" data-params=""></script>Знаю:<br><br>- Java SE;<br>- Android SDK;<br>- Android studio;<br>- SQL и СУБД;<br>- принципы SOLID, YAGNI;<br>- опыт работы с git;<br><br>Знаком с:<br><br>- архитектурами mvp, mvvm<br>- moxy<br>- butter knife<br>- rxjava<br>- timber<br>- retrofit<br>- picasso<br>- glide<br>- android universal image loader<br>- firebase<br>- realm<br>- paper<br>- active android<br>- dagger2<br>- mockito<br>- proguard<br>- leakcanary<br>- stetho<br><br>Самоорганизован и внимателен. С высокой степенью личной ответственности. Имею аналитический склад ума, легко обучаюсь.<br>Коммуникабелен, доброжелателен, дисциплинирован и пунктуален.<br>Имею постоянное желание работать и развиваться, как профессионально в  в сфере android-разработки, так и личностно<br><br>Планы на будущее:<br>- изучение kotlin</div></div></div></div></div><div class="resume-block"><div class="bloko-columns-row"><div class="bloko-column bloko-column_xs-4 bloko-column_s-8 bloko-column_m-9 bloko-column_l-12"><div class="resume-block-container"><h2 class="header header_level-2-thin"><span class="resume-block__title-text resume-block__title-text_sub">Рекомендации</span></h2><div class="resume-block__sub-title">ПАО Банк «ФК Открытие»</div><p>Ковалева Юлия Владимировна (тест-менеджер) <span class="resume-block-hint"><span class="bloko-icon bloko-icon_hint"><script data-name="HH/Tooltip/Hover" data-params='
                        {
                            "message": "Контакты для связи с рекомендателем можно узнать у соискателя"
                        }
                    '></script></span></span></p><div class="resume-block__sub-title">ООО «Перфоманс Лаб»</div><p>Ярощук Татьяна (менеджер проекта) <span class="resume-block-hint"><span class="bloko-icon bloko-icon_hint"><script data-name="HH/Tooltip/Hover" data-params='
                        {
                            "message": "Контакты для связи с рекомендателем можно узнать у соискателя"
                        }
                    '></script></span></span></p></div></div></div></div><div class="resume-block"><div class="bloko-columns-row"><div class="bloko-column bloko-column_xs-4 bloko-column_s-8 bloko-column_m-9 bloko-column_l-12"><div class="resume-block-container"><h2 class="header header_level-2-thin"><span class="resume-block__title-text resume-block__title-text_sub">Портфолио</span></h2><div class="form__popup m-resume_portfolio"><div class="resume-block__portfolio-wrapper"><script data-name="HH/Resume/ImageLoader" data-params='
                                    {
                                        "error": "Произошла ошибка загрузки изображения"
                                    }
                                '></script><a class="HH-Resume-ImageLoader-Link resume__portfolio-item" data-hh-resume-image-loader-src="https://hh.ru/photo/517294370.png?t=1527242117&amp;h=xyAA3CpNk2KZx94S5oQk6g" data-hh-resume-image-loader-title="погодное приложение android"><img src="https://hh.ru/photo/517294369.png?t=1527242117&amp;h=pOp0CiQEtkJc6GzDkHiY3g"></a><a class="HH-Resume-ImageLoader-Link resume__portfolio-item" data-hh-resume-image-loader-src="https://hh.ru/photo/517294390.png?t=1527242117&amp;h=0aCEaYnQveE_WDEnWjPJ5g" data-hh-resume-image-loader-title="клиент-серверное облачное хранилище с помощью java FX"><img src="https://hh.ru/photo/517294389.png?t=1527242117&amp;h=6zZP4wcePd4AZeagTjrjJw"></a><a class="HH-Resume-ImageLoader-Link resume__portfolio-item" data-hh-resume-image-loader-src="https://hh.ru/photo/517294402.png?t=1527242117&amp;h=_xqpTMPtJlCILMTy-poIwQ" data-hh-resume-image-loader-title="стартовый экран игры для android на libGDX"><img src="https://hh.ru/photo/517294401.png?t=1527242117&amp;h=IrXpqDMhrUMLf58_YZmFPg"></a><a class="HH-Resume-ImageLoader-Link resume__portfolio-item" data-hh-resume-image-loader-src="https://hh.ru/photo/517294406.png?t=1527242117&amp;h=Mxzk3DBf7UPqXoJU3fmLVw" data-hh-resume-image-loader-title="игра на libGDX для android"><img src="https://hh.ru/photo/517294405.png?t=1527242117&amp;h=zpkOOZcgmyLmDAAOVp5udQ"></a><a class="HH-Resume-ImageLoader-Link resume__portfolio-item" data-hh-resume-image-loader-src="https://hh.ru/photo/517294506.jpeg?t=1527242117&amp;h=nFX7R0VeaXy4zWQxLPuEAQ" data-hh-resume-image-loader-title="клон Instagram с помощью Firebase экран авторизации"><img src="https://hh.ru/photo/517294505.jpeg?t=1527242117&amp;h=YZGAEfhy8sUEaz4RAVGIQw"></a><a class="HH-Resume-ImageLoader-Link resume__portfolio-item" data-hh-resume-image-loader-src="https://hh.ru/photo/517294518.jpeg?t=1527242117&amp;h=3X332AVtVsFM3dn1vKZUqQ" data-hh-resume-image-loader-title="клон Instagram с помощью Firebase страница пользователя"><img src="https://hh.ru/photo/517294517.jpeg?t=1527242117&amp;h=Lfy5HNVCgHrY6323t7btyg"></a><a class="HH-Resume-ImageLoader-Link resume__portfolio-item" data-hh-resume-image-loader-src="https://hh.ru/photo/517294526.jpeg?t=1527242117&amp;h=plmqc2doKdaMXgVs5Bn6hQ" data-hh-resume-image-loader-title="клон Instagram с помощью Firebase лента"><img src="https://hh.ru/photo/517294525.jpeg?t=1527242117&amp;h=nQtn_IVEFhypn6gNTWHjlQ"></a><div class="g-hidden HH-Resume-ImagePopup"><span class="HH-Resume-ImageLoader-ImageContainer"></span></div></div></div></div></div></div></div><div class="resume-block" data-qa="resume-block-education"><div class="bloko-columns-row"><div class="bloko-column bloko-column_xs-4 bloko-column_s-8 bloko-column_m-9 bloko-column_l-12"><h2 class="header header_level-2-thin"><span class="resume-block__title-text resume-block__title-text_sub">Высшее образование</span></h2></div></div><div class="resume-block-item-gap"><div class="bloko-columns-row"><div class="bloko-column bloko-column_s-2 bloko-column_m-2 bloko-column_l-2">2009</div><div class="bloko-column bloko-column_s-6 bloko-column_m-7 bloko-column_l-10"><div class="resume-block-container" itemprop="alumniOf" itemscope="itemscope" itemtype="http://schema.org/EducationalOrganization" data-qa="resume-block-education-item"><div class="resume-block__sub-title" itemprop="name" data-qa="resume-block-education-name">Брянский Государственный Аграрный Университет</div><div data-qa="resume-block-education-organization">экономический, Менеджмент организации</div></div></div></div></div></div><div class="resume-block" data-qa="resume-block-languages"><div class="bloko-columns-row"><div class="bloko-column bloko-column_xs-4 bloko-column_s-8 bloko-column_m-9 bloko-column_l-12"><h2 class="header header_level-2-thin"><span class="resume-block__title-text resume-block__title-text_sub">Знание языков</span></h2><p data-qa="resume-block-language-item">Русский — родной</p><p data-qa="resume-block-language-item">Английский — читаю профессиональную литературу</p></div></div></div><div class="resume-block" data-qa="resume-block-additional-education"><div class="bloko-columns-row"><div class="bloko-column bloko-column_xs-4 bloko-column_s-8 bloko-column_m-9 bloko-column_l-12"><div class="resume-block-container"><h2 class="header header_level-2-thin"><span class="resume-block__title-text resume-block__title-text_sub">Повышение квалификации, курсы</span></h2></div></div></div><div class="resume-block-item-gap"><div class="bloko-columns-row"><div class="bloko-column bloko-column_s-2 bloko-column_m-2 bloko-column_l-2">2014</div><div class="bloko-column bloko-column_s-6 bloko-column_m-7 bloko-column_l-10"><div class="resume-block-container" itemprop="alumniOf" itemscope="itemscope" itemtype="http://schema.org/EducationalOrganization" data-qa="resume-block-education-item"><div class="resume-block__sub-title" itemprop="name" data-qa="resume-block-education-name">Английский язык</div><div data-qa="resume-block-education-organization">Alibra school, intermediate</div></div></div></div></div></div><div class="resume-block" data-qa="resume-block-attestation-education"><div class="bloko-columns-row"><div class="bloko-column bloko-column_xs-4 bloko-column_s-8 bloko-column_m-9 bloko-column_l-12"><div class="resume-block-container"><h2 class="header header_level-2-thin"><span class="resume-block__title-text resume-block__title-text_sub">Тесты, экзамены</span></h2></div></div></div><div class="resume-block-item-gap"><div class="bloko-columns-row"><div class="bloko-column bloko-column_s-2 bloko-column_m-2 bloko-column_l-2">2016</div><div class="bloko-column bloko-column_s-6 bloko-column_m-7 bloko-column_l-10"><div class="resume-block-container" itemprop="alumniOf" itemscope="itemscope" itemtype="http://schema.org/EducationalOrganization" data-qa="resume-block-education-item"><div class="resume-block__sub-title" itemprop="name" data-qa="resume-block-education-name">ISTQB</div><div data-qa="resume-block-education-organization">qasq, тестирование</div></div></div></div></div></div><div class="resume-block"><div class="bloko-columns-row"><div class="bloko-column bloko-column_xs-4 bloko-column_s-8 bloko-column_m-9 bloko-column_l-12"><div class="resume-block-container"><h2 class="header header_level-2-thin"><span class="resume-block__title-text resume-block__title-text_sub">Электронные сертификаты</span></h2><div class="resume-certificates HH-Resume-Certificates"><div class="bloko-gap bloko-gap_bottom"><div class="HH-Resume-Certificates-Wrapper"><div class="h-resume-certificates-view HH-Resume-Certificates-Group"><div class="resume-certificates-view"><div class="resume-certificates-view__year-group HH-Resume-Certificates-Year"><div class="resume-certificates-view__year-group-title HH-Resume-Certificates-Year-Value">2016</div><ul class="resume-certificates-view__items"><li class="resume-certificates-view__item HH-Resume-Certificates-Certificate"><span class="resume-certificates-view__item-title HH-Resume-Certificates-Title-Value"><a href="https://ssl2.gasq.org/registration/successful-candidate-register.html?tx_drowcdb_piEntries%5Bdetail%5D=16821" target="_blank" rel="noopener noreferrer" itemprop="award">ISTQB foundation</a></span></li></ul></div><div class="resume-certificates-view__owner HH-Resume-Certificates-Owner"></div></div></div></div><div class="g-clear"></div></div><div class="g-hidden"><div class="h-resume-certificates-view HH-Resume-Certificates-Group HH-Resume-Certificates-Template"><div class="resume-certificates-view HH-Resume-Certificates-Type"><strong class="resume-certificates-view__title HH-Resume-Certificates-Type-Value"> </strong><div class="resume-certificates-view__year-group HH-Resume-Certificates-Year"><div class="resume-certificates-view__year-group-title                                 HH-Resume-Certificates-Year-Value"> </div><ul class="resume-certificates-view__items HH-Resume-Certificates-List"><li class="resume-certificates-view__item HH-Resume-Certificates-Certificate"><span class="resume-certificates-view__item-title                                          HH-Resume-Certificates-Certificate-Title-Value"> </span><input class="HH-Resume-Certificates-Certificate-Id" type="hidden" name="certificate.id"><input class="HH-Resume-Certificates-Certificate-Type" type="hidden" name="certificate.type"><input class="HH-Resume-Certificates-Certificate-Selected" type="hidden" name="certificate.selected"><input class="HH-Resume-Certificates-Certificate-OwnerName" type="hidden" name="certificate.ownerName"><input class="HH-Resume-Certificates-Certificate-TranscriptionId" type="hidden" name="certificate.transcriptionId"><input class="HH-Resume-Certificates-Certificate-AccessCode" type="hidden" name="certificate.password"><input class="HH-Resume-Certificates-Certificate-Title" type="hidden" name="certificate.title"><input class="HH-Resume-Certificates-Certificate-AchievementDate" type="hidden" name="certificate.achievementDate"><input class="HH-Resume-Certificates-Certificate-Url" type="hidden" name="certificate.url"><span class="resume-certificates-view__item-remove                                          HH-Resume-Certificates-Certificate-Remove">×</span></li></ul></div><div class="resume-certificates-view__owner HH-Resume-Certificates-Owner"> </div></div></div></div></div></div></div></div></div><div class="resume-block"><div class="bloko-columns-row"><div class="bloko-column bloko-column_xs-4 bloko-column_s-8 bloko-column_m-9 bloko-column_l-12"><div class="resume-block-container"><h2 class="header header_level-2-thin"><span class="resume-block__title-text resume-block__title-text_sub">Гражданство, время в пути до работы</span></h2><p>Гражданство: <span itemprop="nationality" itemscope="itemscope" itemtype="http://schema.org/Country"><span itemprop="name">Россия</span></span></p><p>Разрешение на работу: Россия</p><p>Желательное время в пути до работы: <span style="text-transform:lowercase">Не имеет значения</span></p></div></div></div></div></div><div class="g-hidden"><div class="bloko-column bloko-column_s-8 bloko-column_m-9 bloko-column_l-12"><div class="HH-Related-Resumes"></div></div><script data-name="HH/Related/Resumes" data-params='
                {
                    "resume": "a69636550001cde90a00000abc4b7544434639"
                }
            '></script></div></div></div></div><div class="bloko-columns-row"><div class="bloko-column bloko-column_s-0 bloko-column_m-3 bloko-column_l-4 bloko-column_container"><div class="resume-sidebar-background"></div></div></div></div></div></div></div></div><div class="footer-wrapper"><div class="bloko-columns-wrapper"><div class="bloko-column bloko-column_xs-4 bloko-column_s-8 bloko-column_m-12 bloko-column_l-16"><div class="footer"><div class="footer-social"><!--noindex--><a href="https://vk.com/headhunter" target="_blank" class="footer-social__item footer-social__item_vk" rel="noopener noreferrer nofollow"><script data-name="HH/SetConversionGoal" data-params='
                {
                    "onEvent": "mouseup",
                    "goal": "/virtual/click/social/vk"
                }
            '></script></a><a href="http://www.facebook.com/headhuntergroup" target="_blank" class="footer-social__item footer-social__item_fb" rel="noopener noreferrer nofollow"><script data-name="HH/SetConversionGoal" data-params='
                {
                    "onEvent": "mouseup",
                    "goal": "/virtual/click/social/fb"
                }
            '></script></a><a href="http://www.odnoklassniki.ru/headhunter" target="_blank" class="footer-social__item footer-social__item_ok" rel="noopener noreferrer nofollow"><script data-name="HH/SetConversionGoal" data-params='
                {
                    "onEvent": "mouseup",
                    "goal": "/virtual/click/social/ok"
                }
            '></script></a><a href="https://twitter.com/hh_ru" target="_blank" class="footer-social__item footer-social__item_twitter" rel="noopener noreferrer nofollow"><script data-name="HH/SetConversionGoal" data-params='
                {
                    "onEvent": "mouseup",
                    "goal": "/virtual/click/social/twitter"
                }
            '></script></a><a href="https://instagram.com/hh_ru" target="_blank" class="footer-social__item footer-social__item_instagram" rel="noopener noreferrer nofollow"><script data-name="HH/SetConversionGoal" data-params='
                {
                    "onEvent": "mouseup",
                    "goal": "/virtual/click/social/instagram"
                }
            '></script></a><!--/noindex--></div><div class="footer__main"><div class="footer__employer"><div class="footer__item "><a href="/article/services" class="footer-link">Работодателям</a></div><div class="footer__item "><a href="/demo" class="footer-link">Прайс-лист</a></div><div class="footer__item footer__item_hidden-on-xs "><a href="/calendar" class="footer-link">Производственный календарь</a></div><div class="footer__item footer__item_hidden-on-xs "><!--noindex--><a rel="nofollow" href="/article/hrdigital?from=footer" class="footer-link">HR-Digital</a><!--/noindex--></div></div><div class="footer__applicant"><div class="footer__item "><a href="/article/2" class="footer-link">Соискателям</a></div><div class="footer__item "><a href="/article/1150" class="footer-link">Работа в других городах</a></div></div><div class="footer__about"><div class="footer__item "><a href="/article/28" class="footer-link">© 2018 Группа компаний HeadHunter</a></div><div class="footer__item footer__item_hidden-on-xs "><a href="/employer/1455" class="footer-link">Наши вакансии</a></div><div class="footer__item footer__item_hidden-on-xs "><a href="/partners" class="footer-link">Партнерам</a></div><div class="footer__item footer__item_hidden-on-xs "><a href="/article/adv" class="footer-link">Реклама на сайте</a></div><div class="footer__item footer__item_hidden-on-xs "><a href="https://dev.hh.ru/?utm_source=hh_ru&amp;utm_medium=main&amp;utm_campaign=niz" class="footer-link">API</a></div><div class="footer__item "><!--noindex--><a rel="nofollow" href="/hrmobile?from=footer" class="footer-link">Мобильное приложение</a><!--/noindex--></div><div class="footer__item footer__item_hidden-on-xs "><a href="/article/176" class="footer-link">Требования к ПО</a></div><div class="footer__item footer__item_hidden-on-xs "><a href="/article/personal_data" class="footer-link">Защита персональных данных</a></div><div class="footer__item footer__item_hidden-on-xs "><a href="/safety" class="footer-link">Безопасный HeadHunter</a></div></div></div><div class="footer__additional-text"><p>Сегодня на сайте 606 006 вакансий, 34 289 255 резюме, 837 218 компаний и за неделю 1 317 779 приглашений</p></div><div class="footer-counters"><!--noindex--><!--live-internet counter-->


                    <script>
                        new Image().src="//counter.yadro.ru/hit;HeadHunter?t14.6;r"+escape(document.referrer)+
                            ((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+
                                (screen.colorDepth?screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+";h"+
                            escape(document.title.substring(0,80))+";"+Math.random()
                    </script>


                    <!--/live-internet counter--><!--statad counter-->


                    <script>
                        (new Image()).src = "https://statad.ru/pix4hh.gif?r=" + encodeURIComponent(document.referrer) + "&u=" + encodeURIComponent(document.URL);
                    </script>


                    <!--/statad counter--><!--google-universal-analytics counter-->

                    <script async src="//www.google-analytics.com/analytics.js"></script>

                    <!--/google-universal-analytics counter--><!--rambler-async counter-->


                    <span id="top100counter"></span>
                    <script>
                        var _top100q=_top100q||[];
                        _top100q.push(['setAccount','644963']);
                        _top100q.push(['trackPageviewByLogo',document.getElementById('top100counter')]);
                        (function(){var top100=document.createElement('script');top100.async=true;
                            top100.src=('https:'==document.location.protocol?'https:':'http:')+'//st.top100.ru/pack/pack.min.js';
                            var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(top100, s);
                        })();
                    </script>


                    <!--/rambler-async counter--><!--fb-pixel counter-->


                    <script>
                        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
                            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
                            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                            document,'script','//connect.facebook.net/en_US/fbevents.js');

                        fbq('init', '1463718090590003');
                        fbq('track', 'PageView');
                        fbq('trackCustom', 'userType', {user_type: 'employer'});
                    </script>
                    <noscript>
                        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1463718090590003&amp;ev=PageView&amp;noscript=1&amp;ev=userType&amp;cd%5Buser_type%5D=employer">
                    </noscript>


                    <!--/fb-pixel counter--><!--comscore counter-->


                    <script>
                        var _comscore = _comscore || [];
                        _comscore.push({c1: "2", c2: "21790979", c4: "https://hh.ru/resume/a69636550001cde90a00000abc4b7544434639"});
                        (function() {
                            var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
                            s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
                            el.parentNode.insertBefore(s, el);
                        })();
                    </script>
                    <noscript>
                        <img src="https://sb.scorecardresearch.com/p?c1=2&amp;c2=21790979&amp;c4=https%3A//hh.ru/resume/a69636550001cde90a00000abc4b7544434639">
                    </noscript>


                    <!--/comscore counter--><!--yandex counter-->

                    <script type="text/javascript">
                        (function (d, w, c) {
                            (w[c] = w[c] || []).push(function() {
                                try {
                                    w.yaCounter156828 = new Ya.Metrika({
                                        id: 156828,
                                        trackLinks: true,
                                        accurateTrackBounce: true,
                                        params: {status: 'employer'},
                                        webvisor: true
                                    });
                                    window.yaMetrikaInstance = window.yaMetrikaInstance || w.yaCounter156828;
                                } catch(e) { }
                                if (window.yaMetrikaLoadedCallback instanceof Function) {
                                    window.yaMetrikaLoadedCallback();
                                }
                            });
                            var n = d.getElementsByTagName("script")[0],
                                s = d.createElement("script"),
                                f = function () { n.parentNode.insertBefore(s, n); };
                            s.type = "text/javascript";
                            s.async = true;
                            s.src = "https://mc.yandex.ru/metrika/watch.js";

                            if (w.opera == "[object Opera]") {
                                d.addEventListener("DOMContentLoaded", f, false);
                            } else { f(); }
                        })(document, window, "yandex_metrika_callbacks");
                    </script>
                    <noscript>
                        <div>

                            <img src="https://mc.yandex.ru/watch/156828" style="position:absolute; left:-9999px;" alt="">

                        </div>
                    </noscript>

                    <!--/yandex counter--><!--vk-targeting counter-->


                    <script>
                        (window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=DIRBpUGtxM312hE6JZ2audQT2cV1rV/cu0OLjfhLLVIqe9lEdWILie2nF0ZsdPTkmx*T07eNOKZhBLepCwQRaqBy3Wb*63sLggOktcoCPnpZY/v/KJa/hUi5YA*UUIn4pvaQJksFm8LonS1cdzMvB4ZzX2hscVNBM4I7D/gaYFk-';
                    </script>

                    <script>
                        (window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=qwb84TBSG7an2DgZ3GqZesV9w3GZ8aZbGjqeS6IhQr8wSUBGBQtWKy0n/T*0xnEqdX8Y1sUOsSeOP7A3AE/q1ioNqmvLuxmVWMI6HZocJSLtnrnhrJQTxLV59Ta4/Gnav7SYFIS0PSw99Myzvpsn72yaUddZRl/xvghfr0M9V68-';
                    </script>


                    <!--/vk-targeting counter--><!--top-mail-ru counter-->


                    <!--[if gt IE 8]><!-->
                    <script>
                        var _tmr = _tmr || [];
                        _tmr.push({id: "310372", type: "pageView", start: (new Date()).getTime()});
                        (function (d, w) {
                            var ts = d.createElement("script"); ts.async = true;
                            ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
                            var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
                            if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
                        })(document, window);
                    </script>
                    <!--<![endif]-->
                    <noscript>
                        <div style="position:absolute;left:-10000px;">
                            <img src="//top-fwz1.mail.ru/counter?id=310372;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru">
                        </div>
                    </noscript>


                    <!--/top-mail-ru counter--><!--/noindex--><iframe src="//creativecdn.com/tags?id=pr_BhG1NMdq41AJy0n1ko34_offer_a69636550001cde90a00000abc4b7544434639&amp;id1=pr_BhG1NMdq41AJy0n1ko34_custom_logged" class="g-hidden"></iframe></div></div></div></div></div></div></body></html>
